{% extends "html/studentheader.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/enterdata.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Enter Data</title>
  </head>
  <body>
    <div class="enterdata">

			<div class="enterdata-logo">
				<p>Enter Data</p>

			</div>

			<form class ="form" method="post" action="">
				{{ form.hidden_tag() }}

				<div class="form-group">
					{{ form.userTime.label(id="left")}}

					{% if form.userTime.errors %}
							{{ form.userTime(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.userTime.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.userTime(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<br>

				<div class="form-group">
					{{ form.userDistance.label(id="left")}}

					{% if form.userDistance.errors %}
							{{ form.userDistance(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.userDistance.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.userDistance(class="form-control form-control-lg") }}
					{% endif %}
				</div>

			</form>
		</div>
  </body>
</html>
