{% if user == 1 %}
  {% include "html/adminheader.html" %}
{% elif user == 0 %}
  {% include "html/studentheader.html" %}
{% endif %}
<head>
  <link rel="stylesheet" href="../../static/syle.css">
  <link rel="stylesheet" href="../static/loginstyle.css">
</head>
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.lastname }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <button class="nav-button">
      <strong><a href="{{ url_for('editprofile') }}">Edit Profile</a></strong>
    </button>

  </div>
{% endblock content %}
