{% include "html/adminheader.html" %}
<head>
  <link rel="stylesheet" href="../static/formstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <p>First Name: {{ fname }}</p>
  <p>Last Name: {{ lname }}</p>
  <p>About: {{ about }}</p>
  <p>Birthday: {{ bday }}</p>
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="userimage.jpg">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.fname }} {{ current_user.lname }}</h2>
        <p class="text-secondary">{{ current_user.email}}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>
</body>
