{% if user == 1 %}
  {% include "html/adminheader.html" %}
{% elif user == 0 %}
  {% include "html/studentheader.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/loginstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Data</title>
  </head>
  <body>
    <div class="go-back">
      <a href="{{ url_for('data') }}">Go back to Data</a>
    </div>
    {% extends "charts/chart_layout.html" %}
    {% block content %}
    <p>Distance-time graph</p>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="disttime"></canvas>
                </div>
            </div>
        </div>
    </div>
    <p>Speed-time graph</p>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="speedtime"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% block javascript%}
    {% include "charts/dt-dist-time.html" %}
    {% include "charts/dt-speed-time.html" %}
    {% endblock %}

    <div class="details">
      {{% if user == 1 %}}
        <p>Name: {{ details[0] }}</p>
      {{% endif %}}
      <p>Event Type = {{ details[1] }}</p>
      <p>Event Distance = {{ details[2] }}</p>
      <p>Total Distance = {{ details[3] }}</p>
      <p>Event Time = {{ details[4] }}</p>
      <p>Total Time = {{ details[5] }}</p>
      <p>Avg Speed = {{ details[6] }}</p>
    </div>

    {% endblock %}

  </body>
</html>
