{% if user == 1 %}
  {% include "html/adminheader.html" %}
{% elif user == 0 %}
  {% include "html/studentheader.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/loginstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Data</title>
  </head>
  <body>
    <div class="go-back">
      <a href="{{ url_for('data') }}">Go Back</a>
    </div>
    {% extends "charts/chart_layout.html" %}
    {% block content %}

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% block javascript%}
    {% include "charts/dt-line-line.html" %}
    {% endblock %}
    {% endblock %}
  </body>
</html>
