{% include "html/homeheader.html" %}
<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<link rel="stylesheet" href="../static/enterdatastyle.css">
			<title>Enter Class Code</title>
	</head>
	<body>
		<div class="enterdata">
			<div class="enterdata-logo">
				<p>Enter Class Code</p>
			</div>

			<form class ="form" method="post" action="">
				{{ form.hidden_tag() }}
				<br>

				<div class="form-group">
					{{ form.classcode.label(id="left")}}

					{% if form.classcode.errors %}
							{{ form.classcode(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.classcode.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.classcode(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<br>

				<div class="form-group">
						{{ form.submit(class="enterdata-button") }}
				</div>

				<br>

			</form>
		</div>
	</body>
</html>
