{% include "html/studentheader.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/enterdata.css">    <title>Enter Data</title>
  </head>
  <body>
    <div class="enterdata">
      <div class="enterdata-logo">
        <p>Enter Data</p>
      </div>
      <form class ="form" method="post" action="">
				{{ form.hidden_tag() }}

        <div class="form-group">
					{{ form.eventType.label(id="left")}}

					{% if form.eventType.errors %}
							{{ form.eventType(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.eventType.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.eventType(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <br>

        <div class="form-group">
					{{ form.eventDistance.label(id="left")}}

					{% if form.eventDistance.errors %}
							{{ form.eventDistance(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.eventDistance.errors %}
											<span>{{ error }}</span><p>m</p>
									{% endfor %}
							</div>
					{% else %}
							{{ form.eventDistance(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <br>

        <div class="form-group">
					{{ form.userTimeM.label(id="left")}}

					{% if form.userTimeM.errors %}
							{{ form.userTimeM(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.userTimeM.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.userTimeM(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <br>

        <div class="form-group">
					{{ form.userTimeS.label(id="left")}}

					{% if form.userTimeS.errors %}
							{{ form.userTimeS(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.userTimeS.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.userTimeS(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <div class="form-group">
						{{ form.submit(class="login-button") }}
				</div>
<!--
        <div class="form-group">
          {{ form.userInterval.label(id="left")}}

          {{form.addInterval}}
          {#{form.data.userInterval}#}
          <div class="invalid-feedback">
            {%for interval in form.userInterval %}
                  <div class="row">
                    <div class="col-md-6">Distance{{ form.intervalDist(class="form-control form-control-lg") }}</div>
                    <div class="col-md-6">Distance{{ form.intervalTime(class="form-control form-control-lg") }}</div>
                  </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
            {{ form.submit(class="login-button") }}
        </div>-->
      </form>
    </div>
  </body>
</html>
