<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/style.css">
    <title></title>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-logo">
        <strong>TimeMe</strong>
      </div>
      <a href="{{ url_for('adash')}}">Dashboard</a>
      <div class="dropdown">
        <button class="dropbtn">Data
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{ url_for('chooseevent') }}">TIMER</a>
          <a href="#">VIEW AND FILTER</a>
          <a href="{{ url_for('enterdata') }}">ENTER DATA</a>
          <a href="{{ url_for('takeregister') }}">REGISTER STUDENTS</a>
          <a href="#">REGISTER DATA</a>
          <a href="{{ url_for('createevent') }}">CREATE EVENT</a>
          <a href="{{ url_for('createET') }}">CREATE EVENT TYPE</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Assignments
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">RETURNED ASSIGNMENTS</a>
          <a href="#">SCHEDULED ASSIGNMENTS</a>
          <a href="{{ url_for('createassignment') }}">CREATE ASSIGNMENT</a>
        </div>
      </div>
      <div class="dropdown" id="right">
        <button class="dropbtn">SETTINGS</button>
        <div class="dropdown-content">
          <a href="{{ url_for('profile') }}">PROFILE</a>
          <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
      </div>
    </div>
  </body>
</html>
