{% include "html/adminheader.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/enterdata.css">    <title>Enter Data</title>
  </head>
  <body>
    <div class="enterdata">
      <div class="enterdata-logo">
        <p>Enter Data</p>
      </div>
      <form class ="form" method="post" action="">

        <div class="form-group">
          {{form.addUser}}
          <div class="userIntervals">
            {%for interval in form.user %}
                  <div class="row">
                    <div class="col-md-6">Email{{ interval.form.userEmail(class="form-control form-control-lg") }}</div>
                  </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
            {{ form.submit(class="login-button") }}
        </div>

      </form>
    </div>
  </body>
</html>
