{% include "html/adminheader.html" %}
<p>Welcome back to {{ classname }} {{ name }}!</p>
<div class="go-back">
  <a href="{{ url_for('viewclasses') }}">Go Back</a>
</div>
<button class="nav-button">
  <strong><a href="{{ url_for('addmember') }}">Add Student</a></strong>
</button>
{% extends "charts/chart_layout.html" %}
{% block content %}

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% block javascript%}
{% include "charts/dt-bar.html" %}
{% endblock %}
{% endblock %}

<div class="tweets">
  <a class="twitter-timeline" href="https://twitter.com/DubaiCollege?ref_src=twsrc%5Etfw">Tweets by DubaiCollege</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
