{% include "html/adminheader.html" %}
<head>
  <link rel="stylesheet" href="/static/loginstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <form class ="form" method="post" action="">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.dday.label(id="left")}}

      {% if form.dday.errors %}
          {{ form.dday(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.dday.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.dday(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <br>

    <div class="form-group">
      {{ form.eventtype.label(id="left")}}

      {% if form.eventtype.errors %}
          {{ form.eventtype(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.eventtype.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.eventtype(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <br>

    <div class="form-group">
      {{ form.eventdist.label(id="left")}}

      {% if form.eventdist.errors %}
          {{ form.eventdist(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.eventdist.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.eventdist(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <br>
    <br>

    <div class="form-group">
        {{ form.submit(class="login-button") }}
    </div>
  </form>
</body>
