{% include "html/homeheader.html" %}
<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="../static/loginstyle.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<title>Register</title>
	</head>
	<body>
		<div class="signup">

			<div class="signup-logo">
				<p>Register</p>

			</div>

			<form class ="form" method="post" action="">
				{#{ form.hidden_tag() }#}
				<br>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">Student Name</div>
						<div class="col-md-6">Present</div>
					</div>
					<br>
					<br>
				</div>
				{% for i in form.user %}
					<div class="">
						<div class="">
							{{ i }}
						</div>
						<div class=""><div>{{render_field(form.user[i], user|replace(" ", "_"))}}</div></div>
					</div>
				{% endfor %}

				<br>

				<br>

				<div class="form-group">
						{{ form.submit(class="login-button")}}
				</div>

				<br>

			</form>
		</div>
	</body>
</html>
