{% include "html/studentheader.html" %}
<!-- <h1>note: we can use the whole disabled thing to disable the users from using the dropdown</h1> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/enterdata.css">    <title>Set Assignment using Time-Based Events</title>
  </head>
  <body>
    <div class="enterdata">
      <div class="enterdata-logo">
        <p>Enter Data</p>
      </div>
      <form class ="form" method="post" action="">
				{{ form.hidden_tag() }}

        <div class="form-group">
					{{ form.eventType.label(id="left")}}

					{% if form.eventType.errors %}
							{{ form.eventType(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.eventType.errors %}
											<span>{{ error }}</span>
									{% endfor %}
							</div>
					{% else %}
							{{ form.eventType(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <br>

        <div class="form-group">
					{{ form.eventTime.label(id="left")}}

					{% if form.eventTime.errors %}
							{{ form.eventTime(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
									{% for error in form.eventTime.errors %}
											<span>{{ error }}</span><p>m</p>
									{% endfor %}
							</div>
					{% else %}
							{{ form.eventTime(class="form-control form-control-lg") }}
					{% endif %}
				</div>

        <div class="form-group">
          {{ form.dday.label(id="left")}}

          {% if form.dday.errors %}
              {{ form.dday(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.dday.errors %}
                      <span>{{ error }}</span><p>m</p>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.dday(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <br>

        <div class="form-group">
            {{ form.submit(class="login-button") }}
        </div>

      </form>
    </div>
  </body>
</html>
