{% include "html/adminview.html" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/loginstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Classes</title>
  </head>
  <body>
    <div class="">
      <div class="add">
        <a href="{{ url_for('addclass') }}">Add Class</a>
      </div>
      <div class="view-table">
        <table>
          <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
          {% for row in classes %}
          <tr>
            <td>{{ row.className }}</td>
            <td>{{ row.classCode }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <form class ="form" method="post" action="">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.classname.label(id="left")}}

        {% if form.classname.errors %}
            {{ form.classname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.classname.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.classname(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <br>

      <div class="form-group">
          {{ form.submit(class="login-button") }}
      </div>
    </form>
  </body>
</html>
