{% include "html/adminheader.html" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <div class="classes">

      </div>
      <div class="add">
        <a href="{{ url_for('addclass') }}">Add Class</a>
      </div>
      <div class="view-table">
        <table>
          <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
          {% for row in classes %}
          <tr>
                <td>{{ row.className }}</td>
                <td>{{ row.classCode }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
