<canvas id="speedtime" width="400" height="400"></canvas>
<script>
  var ctx = document.getElementById('speedtime').getContext('2d');
  var speedtime = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [{
              label: 'Values',
              data: {{ speed | safe }},
              backgroundColor: 'rgba(255, 255, 255, 0.2)',
              borderColor:'rgba(255, 99, 132, 1)',
              borderWidth: 1
          }/*, {
              label: 'Values2',
              data: {{ values2 | safe }},
              backgroundColor: 'rgba(255, 255, 255, 0.2)',
              borderColor:'rgba(200, 100, 132, 1)',
              borderWidth: 1
          }*/],
          labels: {{ labels | safe }},
      },
      options: {
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                        return 'Speed (m/s)';
                    }
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                        return 'Time (s)';
                    }
                }
            }],
          }
      }
  });
</script>
